.vscode
.idea
.env

hola-docker/.env

hola-docker/db_mysql/*
hola-docker/db_mysql/.gitkeep

hola-docker/certs/*
hola-docker/certs/.gitkeep

hola-docker/confd/*
hola-docker/confd/.gitkeep

hola-docker/html/*
hola-docker/html/.gitkeep

hola-docker/vhostd/*
hola-docker/vhostd/.gitkeep